/* Fonts */
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,500,600,700,800,900&display=swap");

/* Variables */

:root {
    /* dark shades of primary color*/
    --clr-primary-1: hsl(205, 86%, 17%);
    --clr-primary-2: hsl(205, 77%, 27%);
    --clr-primary-3: hsl(205, 72%, 37%);
    --clr-primary-4: hsl(205, 63%, 48%);

    /* primary/main color */
    --clr-primary-5: #49a6e9;

    /* lighter shades of primary color */
    --clr-primary-6: hsl(205, 89%, 70%);
    --clr-primary-7: hsl(205, 90%, 76%);
    --clr-primary-8: hsl(205, 86%, 81%);
    --clr-primary-9: hsl(205, 90%, 88%);
    --clr-primary-10: hsl(205, 100%, 96%);

    /* darkest grey - used for headings */
    --clr-grey-1: hsl(209, 61%, 16%);
    --clr-grey-2: hsl(211, 39%, 23%);
    --clr-grey-3: hsl(209, 34%, 30%);
    --clr-grey-4: hsl(209, 28%, 39%);

    /* grey used for paragraphs */
    --clr-grey-5: hsl(0, 0%, 100%);
    --clr-grey-6: hsl(209, 23%, 60%);
    --clr-grey-7: hsl(211, 27%, 70%);
    --clr-grey-8: hsl(210, 31%, 80%);
    --clr-grey-9: hsl(212, 33%, 89%);
    --clr-grey-10: hsl(210, 36%, 96%);
    --clr-white: #fff;
    --clr-red-dark: hsl(360, 67%, 44%);
    --clr-red-light: hsl(360, 71%, 66%);
    --clr-green-dark: hsl(125, 67%, 44%);
    --clr-green-light: hsl(125, 71%, 66%);
    --clr-grey11: #b3b3b3;
    --clr-black: #222;
    --ff-primary: "Roboto", sans-serif;
    --ff-secondary: "Open Sans", sans-serif;
    --transition: all 0.3s linear;
    --spacing: 0.25rem;
    --radius: 0.5rem;
    --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    --max-width: 1170px;
    --fixed-width: 620px;
}


/* Global Styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--ff-secondary);
    color: var(--clr-grey-1);
    line-height: 1.5;
    font-size: 0.875rem;
    background-image: url(../img/back.jpg);
    background-size: contain;
    padding-top: 40px;
    padding-bottom: 20px;
    text-align: center;
    height: 100vh;
    overflow-x:hidden;
}


img {
    display: block;


    width: 100%;


}

.class img {
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 100%;

}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4 {
    letter-spacing: 0.2rem;
    line-height: 1.25;
    margin-bottom: 0.75rem;
    font-family: var(--ff-primary);
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.25rem;
}

h4 {
    font-size: 1rem;
    color: #ffffff;
}

p {
    margin-bottom: 1.25rem;
    color: var(--clr-grey-5);
}

/* MQ */

@media screen and (min-width: 800px) {
    h1 {
        font-size: 4rem;
    }

    h2 {
        font-size: 2.5rem;
    }

    h3 {
        font-size: 1.75rem;
    }

    h4 {
        font-size: 1rem;
    }

    body {
        font-size: 1rem;
    }

    h1,
    h2,
    h3,
    h4 {
        line-height: 1;
    }
}

/* Global Classes */

.btn {
    text-transform: uppercase;
    background: transparent;
    color: var(--clr-black);
    padding: 0.375rem 0.75rem;
    letter-spacing: var(--spacing);
    display: inline-block;
    transition: var(--transition);
    font-size: 0.875rem;
    border: 2px solid var(--clr-black);
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    border-radius: var(--radius);
}

.btn:hover {
    color: var(--clr-white);
    background: var(--clr-black);
}

/* Structure */

section {
    padding: 5rem 0;
}

main {
    display: grid;
    place-items: center;
}

/* Menu */

.menu {
    padding: 1rem 0;
}

.menu2 {
    padding: 1rem 0;
}

.menu1-btn {
    width: 17rem;
    height: 3rem;
    background: #ffffff;
    border-color: #ffffff;
    font-size: 1rem;
    font-weight: 900;
    margin: 0 0.5rem;
    letter-spacing: 1px;
    border-radius: var(--radius);
    padding: 0.375rem 3rem;
    color: black;
    cursor: pointer;
    transition: var(--transition);
    margin-bottom: 2rem;
}

.menu2-btn {
    width: 17rem;
    height: 3rem;
    background: #ffffff;
    border-color: #ffffff;
    font-size: 1rem;
    font-weight: 900;
    margin: 0 0.5rem;
    margin-bottom: 2rem;
    letter-spacing: 1px;
    border-radius: var(--radius);
    padding: 0.375rem 3rem;
    color: black;
    cursor: pointer;
    transition: var(--transition);
}

/* Banner */

.title {
    text-align: center;
    margin-bottom: 2rem;
    border-radius: 100%;
    display: flex;
    justify-content: center;
}

.logo {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    border: 2px solid #bfbfbf;
}

.underline {
    width: 5rem;
    height: 0.25rem;
    background: var(--clr-grey11);
    margin-left: auto;
    margin-right: auto;
}

/* Navbar */
.btn-container {
    display: flex;
    overflow: hidden;
    white-space: nowrap;
    margin-bottom: 4rem;
}

.menu2btn-container {
    display: flex;
    overflow: hidden;
    white-space: nowrap;
    margin-bottom: 4rem;
}

.filter-btn {
    background: #ffffff;
    border-color: #ffffff;
    font-size: 1.2rem;
    margin: 0 0.5rem;
    letter-spacing: 1px;
    border-radius: var(--radius);
    padding: 0.375rem 0.75rem;
    color: black;
    cursor: pointer;
    transition: var(--transition);
}

.filter2-btn {
    background: #ffffff;
    border-color: #ffffff;
    font-size: 1.2rem;
    margin: 0 0.5rem;
    letter-spacing: 1px;
    border-radius: var(--radius);
    padding: 0.375rem 0.75rem;
    color: black;
    cursor: pointer;
    transition: var(--transition);
}

.information-container {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

.information {
    width: 17rem;
    height: 3rem;
    background: #ffffff;
    border-color: #ffffff;
    font-size: 1rem;
    font-weight: 900;
    margin: 0 0.5rem;
    letter-spacing: 1px;
    border-radius: var(--radius);
    padding: 0.375rem 5rem;
    color: #000000;
    cursor: pointer;
    transition: var(--transition);
}

.information-content p {
    margin: 0;
    width: 70%;
    color: #ffffff;
}

.class {
    height: 60px;
    display: flex;
    align-items: center;
    padding: 0 1rem;
    justify-content: space-evenly;
}


.information-footer {
    height: 100px;
    display: flex;
    justify-content: space-between;
    padding: 0 5rem;
    align-items: center;
}

.phone {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 1rem;
}

.phone a {
    color: rgb(255, 255, 255);
    font-size: 1.2rem;
}

/* Дополнительный стиль для контейнера, чтобы обеспечить прокрутку пальцем */
.btn-container {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    /* Для поддержки прокрутки в iOS */
    scroll-snap-type: x mandatory;
}

.menu2btn-container {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    /* Для поддержки прокрутки в iOS */
    scroll-snap-type: x mandatory;
}

/* Отключаем стандартные браузерные полосы прокрутки */
.btn-container::-webkit-scrollbar {
    display: none;
}

.menu2btn-container::-webkit-scrollbar {
    display: none;
}

.filter-btn:hover {
    background-color: #a5a5a5;
    color: black;
}

.filter2-btn:hover {
    background-color: #a5a5a5;
    color: black;
}




/* Item list */

.section-center {
    width: 90vw;
    margin: 0 auto;
    max-width: 1170px;
    display: grid;
    gap: 3rem 2rem;
    justify-items: center;
    text-align: start;
}

.section2-center {
    width: 90vw;
    margin: 0 auto;
    max-width: 1170px;
    display: grid;
    gap: 3rem 2rem;
    justify-items: center;
}

.menu-item {
    display: grid;
    gap: 1rem 2rem;
    max-width: 25rem;
}

.menu2-item {
    display: grid;
    gap: 1rem 2rem;
    max-width: 25rem;
}

.photo {
    object-fit: contain;
    height: 200px;
    border-radius: var(--radius);
}

.photo2 {
    object-fit: contain;
    height: 200px;
    border-radius: var(--radius);
}

.item-info header {
    display: flex;
    justify-content: space-between;
    border-bottom: 0.5px dotted var(--clr-grey-5);
}

.item2-info header {
    display: flex;
    justify-content: space-between;
    border-bottom: 0.5px dotted var(--clr-grey-5);
}

.item-info h4 {
    margin-bottom: 0.5rem;
}

.item2-info h4 {
    margin-bottom: 0.5rem;
}

.price {
    color: #ffffff;
}

.price2 {
    color: #ffffff;
}

.item-text {
    margin-bottom: 0;
    padding-top: 1rem;
}

.item2-text {
    margin-bottom: 0;
    padding-top: 1rem;
}

.section-footer {
    padding: 0;
    margin-top: 2rem;
}

.social-web {
    display: flex;
    width: 100vw;
    justify-content: space-evenly;
    margin-bottom: 2rem;
}


/* MQ */

@media screen and (min-width: 768px) {
    .menu-item {
        grid-template-columns: 225px 1fr;
        gap: 0 1.25rem;
        max-width: 40rem;
    }

    .menu2-item {
        grid-template-columns: 225px 1fr;
        gap: 0 1.25rem;
        max-width: 40rem;
    }

    .photo {
        height: 175px;
    }

    .photo2 {
        height: 175px;
    }
}

@media screen and (min-width: 1200px) {
    .section-center {
        width: 95vw;
        grid-template-columns: 1fr 1fr;
    }

    .section2-center {
        width: 95vw;
        grid-template-columns: 1fr 1fr;
    }

    .photo {
        height: 150px;
    }

    .photo2 {
        height: 150px;
    }
}